body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555;
    margin: 0;
    padding-top: 83px;
}

h2 {
    margin: 0.5rem;
}

.inputGroup {
    margin: 1rem 0;
    input {
        padding: 0.5rem;
        border-radius: 5px;
        border: solid 1px #ddd;
        outline: none;
        font-size: 1rem;
        width: 3rem;
        text-align: center;
        padding-left: 15px;
    }
    label {
        font-size: 1rem;
    }
    > * {
        margin: 0 0.5rem;
    }
}

.levels {
    line-height: 2.5rem;

    input[type='radio'] {
        display: none;
        + label {
            border-radius: 0.5rem;
            font-size: 1.5rem;
            padding: 0.5rem 0.75rem;
            cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }
        }
        &:checked + label {
            background: #ddd;
        }
    }
}

button {
    background: tomato;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.controls {
    background: rgb(21, 32, 43);
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    > * {
        margin: 1rem;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;

    .filler {
        width: 100%;
        height: 83px;
    }

    .game {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &.over {
            .board {
                pointer-events: none;
            }
            h2.game-over {
                display: block;
            }
        }

        &.won {
            .board {
                pointer-events: none;
            }
            h2.game-won {
                display: block;
            }
        }

        h2 {
            &.game-over {
                color: tomato;
                display: none;
            }
            &.game-won {
                color: MediumSpringGreen;
                display: none;
            }
        }
    }

    .board {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        margin: 1rem;

        .field {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            background: #ddd;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: #ccc;
            }

            &.reveiled {
                background: #eee;
            }

            &.mine {
                background: tomato;
                color: #fff;
            }

            &.flagged {
                color: tomato;
            }
        }
    }

    .boardStatus {
        color: #888;
        border-radius: 5px;
        margin: 1rem;
        padding: 1rem;
        display: none;
    }

    footer {
        text-align: center;
        color: #aaa;
        a {
            text-decoration: none;
            color: #aaa;
            &:hover {
                color: tomato;
            }
        }
    }
}

@media (max-width: 600px) {
    .controls {
        overflow-y: scroll;
    }
}
